@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1c;
  color: #d5d4d3;
}
::-webkit-scrollbar {
  overflow-y: hidden;
}
@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, -100%);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
@layer utilities {
  .animate-defilement-rtl {
    animation: defilement-rtl 100s linear infinite;
  }
}
