@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1c;
  color: #d5d4d3;
}
::-webkit-scrollbar {
  overflow-y: hidden;
}
